body{
    font-family: 'Architects Daughter', cursive;
    font-size: 25px;
    margin: 0px;
}
h1{
    font-size: 35px;
}

h2{
    font-size: 25px;
}

p{
    font-family: "Lucida Handwriting";
    font-size: 17px;
}
.purple-color{
    color: purple;
}

.flexibility-package{
    display: flex;
}

.equal-width{
    width: 50%;
    padding: 10%;
}

.equal-width img{
    width: 80%;
    border-radius: 10px;
}

.LinkedIn-button{
    text-decoration: none;
    text-shadow: 2%;
    background-image: linear-gradient(rgb(24, 9, 17), rgb(12, 119, 83));
    padding: 10px 45px;
    border-radius: 7px;
}

.LinkedIn-button{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.White-color{
    color:floralwhite;
}
#left-border{
    border-left: 3px dashed firebrick;
    padding-left: 10px;
    border-radius: 2px;
}

h{
    border: firebrick;
}

.align-middle{
    text-align: center;
}

.colour_change{
    color: rgb(172, 34, 0);
}

.resulotion-package{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    

}

.equal-width2{
    width: 33%;
    padding: 1%;
    background-color: rgba(252, 168, 138, 0.5);
    border-radius: 10px;
    box-shadow:5px 5px 5px #000;
    -webkit-box-shadow:5px 5px 5px #000;
    -moz-box-shadow: 5px 5px 5px rgb(59, 0, 0);
    margin-left: 2%;
    margin-right: 2%;
}

.equal-width3{
    width: 33%;
    padding: 1%;
    background-color: khaki;
    border-radius: 10px;
    box-shadow:5px 5px 5px #000;
    -webkit-box-shadow:5px 5px 5px #000;
    -moz-box-shadow: 5px 5px 5px rgb(59, 0, 0);
    margin-left: 2%;
    margin-right: 2%;

}

.equal-width4{
    width: 33%;
    padding: 1%;
    background-color: rgb(187, 229, 255);
    border-radius: 10px;
    box-shadow:5px 5px 5px #000;
    -webkit-box-shadow:5px 5px 5px #000;
    -moz-box-shadow: 5px 5px 5px rgb(59, 0, 0);
    margin-left: 2%;
    margin-right: 2%;
}

.for-illustration{
    width: 40%;
    align-items: center;
}

.flexibility-package2{
    display: flex;
    margin-top: 30px;
}

.equal-equal-width{
    width: 50%;
    padding: 5%;
}

.equal-equal-width img{
    width: 100%;
    border-radius: 10px;
}

.flexibility-package3{
    display: flex;
    margin-top: 30px;
}

.equal-equal-width2{
    width: 50%;
    padding: 5%;
}

.equal-equal-width2 img{
    width: 100%;
    border-radius: 10px;
}

.social-media{
    align-items: center;
    margin-left: 35%;
    margin-bottom: 10%;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
    
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
 
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

  .fa-youtube {
    background: #bb0000;
    color: white;
  }

  .fa-reddit {
    background: #ff5700;
    color: white;
  }

.fotter-class{
    /* background-color: rgba(0, 217, 255, 0.384);
    width: 100%;
    fill: 100%;
    margin-top: 10%;
    text-align: center; */

    
    top: 90%; 
    left: 0%; 
    right: 0; 
    bottom: 0;
    background-color: rgba(0, 217, 255, 0.384); 
    border: solid black; 
    border-width: 3px; 
    text-align: center;
    
    
    
}

.footer-all-color{
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

.year-color{
    color:tomato;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}