body{
    font-family: 'Architects Daughter', cursive;
    font-size: 25px;
    margin: 50px 50px 50px 50px;
}
h1{
    font-size: 35px;
}

h2{
    font-size: 25px;
}

p{
    font-family: "Lucida Handwriting";
    font-size: 17px;
}
.purple-color{
    color: purple;
}

.flexibility-package{
    display: flex;
}

.equal-width{
    width: 50%;
    padding: 10%;
}

.equal-width img{
    width: 80%;
}

.LinkedIn-button{
    text-decoration: none;
    text-shadow: 2%;
    background-image: linear-gradient(rgb(24, 9, 17), rgb(12, 119, 83));
    padding: 10px 45px;
    border-radius: 7px;
}

.LinkedIn-button{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.White-color{
    color:floralwhite;
}
#left-border{
    border-left: 3px dashed firebrick;
    padding-left: 10px;
    border-radius: 2px;
}

h{
    border: firebrick;
}

.align-middle{
    text-align: center;
}

.colour_change{
    color: rgb(172, 34, 0);
}

.resulotion-package{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;

}

.equal-width2{
    width: 33%;
    padding: 1%;
    background-color: rgb(252, 169, 138);
    border-radius: 10px;
    box-shadow:5px 5px 5px #000;
    -webkit-box-shadow:5px 5px 5px #000;
    -moz-box-shadow: 5px 5px 5px rgb(59, 0, 0);
    margin-left: 2%;
    margin-right: 2%;
}

.equal-width3{
    width: 33%;
    padding: 1%;
    background-color: khaki;
    border-radius: 10px;
    box-shadow:5px 5px 5px #000;
    -webkit-box-shadow:5px 5px 5px #000;
    -moz-box-shadow: 5px 5px 5px rgb(59, 0, 0);
    margin-left: 2%;
    margin-right: 2%;

}

.equal-width4{
    width: 33%;
    padding: 1%;
    background-color: rgb(187, 229, 255);
    border-radius: 10px;
    box-shadow:5px 5px 5px #000;
    -webkit-box-shadow:5px 5px 5px #000;
    -moz-box-shadow: 5px 5px 5px rgb(59, 0, 0);
    margin-left: 2%;
    margin-right: 2%;
}

.for-illustration{
    width: 40%;
    align-items: center;
}

.Facebook-button{
    text-decoration: none;
    text-shadow: 2%;
    background-image: linear-gradient(rgb(24, 9, 17), rgb(12, 119, 83));
    padding: 10px 45px;
    border-radius: 7px;
}

.Facebook-button{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.flexibility-package{
    display: flex;
}